@model IEnumerable<Library.Models.Diary>
@{
    ViewBag.Title = "Diary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/site.js"></script>
<div class="form-inline">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Borrow
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <form action="/Diaries/Borrow" method="post" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @foreach (var item in Model)
                    {
                        <div class="form-inline">
                            <div class="mx-auto" style="width: 150px;">
                                @Html.DisplayFor(modelItem => item.Book.BookName)
                                <input type="hidden" name="id" value="@item.BookId" />
                                <input type="number" class="text-center" style="width: 30%;" name="amount" value="0" min="0" max="5" />
                                <br />
                                <br />
                            </div>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Borrow</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Return -->
    <p>&ensp</p>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#mymodal">
        Return
    </button>

    <!-- Modal -->
    <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <form action="/Diaries/Return" method="post" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mee">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @foreach (var itemm in Model)
                    {
                        <div class="form-inline">
                            <div class="mx-auto" style="width: 250px;">
                                @Html.DisplayFor(modelItem => itemm.Book.BookName)
                                <input type="hidden" name="iname" value="@itemm.BookId" />
                                <input type="hidden" name="diaryId" value="@itemm.DiaryId" />
                                <input type="number" class="text-center" style="width: 30%;" name="amountR" value="0" min="0" max="@itemm.Amount" />
                                <br />
                                <br />
                            </div>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-danger">Return</button>
                </div>
            </form>
        </div>
    </div>
</div>
<table class="table container">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiredDate)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiredDate)
                </td>
                @*<td>
                    
                </td>*@
            </tr>
        }
    </tbody>
</table>
