@model IEnumerable<Image>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Original</th>
            <th>Url</th>
            <th>Type</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.ImageId</td>
                <td>@item.ImageOriginal</td>
                <td>@item.ImageUrl</td>
                <td>@item.ImageType</td>
                <td>@item.ImageSize</td>
            </tr>
        }
    </tbody>
</table>