@model IEnumerable<Asp.netCoreMVCCRUD.Models.Request>

@{ ViewData["Title"] = "Index"; }

<h4>User Register</h4>
<br />
<a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i> User</a>


@*<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i> User</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhoneNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Position)
    </td>
    <td>
        <a asp-action="AddOrEdit" asp-route-id="@item.UserId"><i class="fa fa-marker fa-lg"></i></a>
        <a asp-action="Delete" asp-route-id="@item.UserId" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')"><i class="fa fa-trash-alt fa-lg"></i></a>
    </td>
</tr>}
    </tbody>
</table>*@
